#root {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow-y: auto;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
